* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    clear: both;
    margin-bottom: 50px;
}

#my-nav {
    background-color: #74657b;
    margin-bottom: 15px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#newOrderBtn {
    background-color: #74657b;
    color: whitesmoke;
}


.my-footer {
    color: whitesmoke;
    background-color: #74657b;
    /*171a1d*/
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
