@page
@using Microsoft.EntityFrameworkCore
@model FreshMarqueSnails.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@DbLoggerCategory.Model.Message</h3>

<p>Use this area to provide additional information.</p>
