@page
@model FreshMarqueSnails.Pages.CustomerOrder.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CustomerOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerOrder.ID" />
            <div class="form-group">
                <label asp-for="CustomerOrder.OrderDate" class="control-label"></label>
                <input asp-for="CustomerOrder.OrderDate" class="form-control" />
                <span asp-validation-for="CustomerOrder.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrder.Name" class="control-label"></label>
                <input asp-for="CustomerOrder.Name" class="form-control" />
                <span asp-validation-for="CustomerOrder.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrder.Location" class="control-label"></label>
                <input asp-for="CustomerOrder.Location" class="form-control" />
                <span asp-validation-for="CustomerOrder.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrder.DeliveryDate" class="control-label"></label>
                <input asp-for="CustomerOrder.DeliveryDate" class="form-control" />
                <span asp-validation-for="CustomerOrder.DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrder.Quantity" class="control-label"></label>
                <input asp-for="CustomerOrder.Quantity" class="form-control" />
                <span asp-validation-for="CustomerOrder.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrder.Cost" class="control-label"></label>
                <input asp-for="CustomerOrder.Cost" class="form-control" />
                <span asp-validation-for="CustomerOrder.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrder.DeliveryStatus" class="control-label"></label>
                <input asp-for="CustomerOrder.DeliveryStatus" class="form-control" />
                <span asp-validation-for="CustomerOrder.DeliveryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrder.Comments" class="control-label"></label>
                <input asp-for="CustomerOrder.Comments" class="form-control" />
                <span asp-validation-for="CustomerOrder.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
